{% extends 'firstapp/base.html' %}
{% load socialaccount %}
{% block content %}
post detail 입니다- 상세 내용을 보이게 하는 페이지

 <div style="border: solid 1px black;">
        <h1>{{post.title}}</h1>
        <h1>{{post.author}}</h1>
        <p>{{post.text|linebreaksbr}}</p>
     {% if post.published_date %}
     <div class="date">{{post.published_date}}</div>
     {% endif %}
     {{post.author }}
     {{user.username}}
     {% if post.author == user.username %}

     <a href="{% url 'post_edit' pk=post.pk %}">글 수정하기</a>
     <a href="{% url 'post_delete' pk=post.pk %}">글 삭제하기</a>
     {% endif %}
 </div>
<h1><a href="{% url 'post_list' %}">전체 게시글 보기</a></h1>


{% endblock %}